@use "./../../styles/partials/mixins" as *;

.project {
  //   border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  border-radius: 5px;
  padding-bottom: 2rem;
  cursor: pointer;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  }
  &__cover {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }
  &__info {
    padding: 2px 16px;
  }

  &__tag {
    @include tag;
  }
}
