@use "../../styles/partials/colors" as *;
.designs-nav {
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  &__item {
    cursor: pointer;
    &--selected {
      background: $Gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
