@use "./colors" as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  background-color: #fff7f3;
  font-family: "Poppins", sans-serif;
}

h1 {
  // font-family: "Superior title", "Times New Roman", sans-serif;
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $FontPrimaryColor;
  &:hover {
    background: $Gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

nav a {
  // color: $FontPrimaryColor;
  padding: 14px 20px;
  font-size: 1.5rem;
  display: inline-block;
}
