@use "../../styles/partials/colors" as *;

.hero {
  display: flex;
  margin: 10rem auto;
  //   padding: 100px 0;
  //   max-width: 1280px;
  //   margin: 0 auto;
  gap: 3rem;
  &__image {
    width: 30%;
    border-radius: 10rem;
    // aspect-ratio: 1 / 1;
  }
  &__title {
    &--highlight {
      background: $Gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
